{% extends 'base.html'%}

{% block content%}

<div class="container">
    <div class="row">
  <div class="card" style="width: 18rem; top: 20px; left: 5px; right: 20px">
      <img src="/https://webkarting-4010008071f9.herokuapp.com/staticfiles/images/Kartodromo_CABA.e843d998b686.png" style="padding: 10px; padding-right: 1px; padding-left: 1px" class="card-img-top" alt="...">
      <div class="card-body">          
        <h5 class="card-title">CARRERA 1</h5>
        <p class="card-text">
          <ul>
              <li>Pista: KARTODROMO CABA</li>
              <li>Día: 9/11/2023</li>
              <li>Hora: 20 hs</li>
              <li>Podio: 1-Luis/ 2-Fer/ 3-Ale</li>            
          </ul>    
      </p>
        <a href={% url 'carrea-1' %} class="btn btn-dark">Más info</a>
      </div>
    </div>   
  </div>
  </div>  
        
    

{% endblock %}