{% extends 'base.html'%}

{% block content%}
<center>
<h1 style="box-shadow: 0 6px 6px black; padding: 5px">¡GRACIAS A NUESTROS SPONSORS!</h1>
</center>
</br>

    <div class="card" style="width: 18rem; margin: 0 auto; width: 550px; padding: 20 px">
        <img src="/staticfiles/images/3D.3df1287898d6.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">3DIMENSIONATE</h5>
              <p class="card-text">Productos personalizados en 3D para eventos, repostería y más!!</p>
              <a href="https://3dimensionate.com.ar" class="btn btn-dark">Ir a la Web</a>
            </div>
      </div>
    </br>
</br>  
    <div class="card" style="width: 18rem; margin: 0 auto; width: 550px">
        <img src="/staticfiles/images/indio420.9531494325d0.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">INDIO 420</h5>
              <p class="card-text">Asesoramiento personalizado para tus cultivos.</p>
              <a href="https://www.instagram.com/indio.420/" class="btn btn-dark">Ir a la Web</a>
            </div>
          </div>
        </br>
    </br>





   

        
    
{% endblock %}